<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facespace</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
      <h1 class='site-title'><a href="/">Facespace</a></h1>
      <% if(!auth.isLoggedIn) { %>
      <h4 class="signin-link"><a href="/signin">Signin</a></h4>
      <% } else { %>
        <h4 class="signin-link">Howdy, <%- auth.userName %></h4>
      <% } %>
  </header>