<%- include('../partials/header', {auth: auth}) %>
<div class="home-page">
  <h2>All Facespace members</h2>
  <ul class="homepage__all">
    <% users.forEach(user => { %>
    <li class="homepage__all--user">
      <div class="homepage__all--user--wrapper">
        <% if(auth.friends && auth.friends.includes(user._id)) { %>
          <span class="friend-marker">Friend</span>
        <% } %>
        <a href="<%- '/users/' + user._id %>"><img src="<%= user.avatarUrl %>" /></a>
      </div>
    </li>
    <% }) %>
  </ul>
</div>
<%- include('../partials/footer') %>